<span style='color: #000'>2 frames</span>	<span style='color: #900'>2,048 KB</span>	<span style='color: #090'>59.96 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />